/* Fon from google */
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700;800;900;1000&display=swap');

/* share stayle */

.main-button {
  border-radius: 8px;
  background: #ff5400;
  color: #fff;
  text-align: center;
  font-family: Mulish;
  font-size: 20px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  padding: 13px 35px;
  border-color: #ff5400;
}
/* header area style start */
/* Nav area style start */

.header {
  padding: 52px 135px;
}
.nav-div {
  display: flex;
  justify-content: space-between;
}
.travel {
  color: #ff5400;
  color: #ff5400;
  font-family: Mulish;
  font-size: 32px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
.nav-title {
  color: #131318;
  font-family: Mulish;
  font-size: 25px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
.nav-title {
  display: flex;
  align-items: center;
  gap: 20px;
}
.nav-lii ul {
  display: flex;
  gap: 20px;
  list-style-type: none;
}
.nav-lii a {
  text-decoration: none;
}
/* Nav area style start */

/* Header banner area style start */
.Header-benner {
  margin-top: 50px;
  padding: 100px 135px;
  background-image: url(./Images/Group13.png);
  background-position: center;
  background-size: cover;
  border-radius: 16px;
}
.banner-title {
  color: #fff;
  font-family: Mulish;
  font-size: 64px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  text-align: center;
}
.baner-dess {
  color: #fff;
  text-align: center;
  font-family: Mulish;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
}
.mama-input {
  display: flex;
  justify-content: center;
}
.input-types {
  display: inline-flex;
  padding: 15px;
  justify-content: center;
  gap: 20px;
  border-radius: 8px;
  background: #ffffff71;
}

.iii {
  border-radius: 8px;
  background: #fff;
  padding: 10px 10px;
  border-color: bisque;
}
#Find {
  border-radius: 8px;
  background: #ff5400;
  color: #fff;
  text-align: center;
  font-family: Mulish;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding: 16px 45px;
  border-color: #ff5400;
}
/* Header banner area style start */

/* header area style  End */

/* main area style Start */
/*  Popular section style Start */
.popular-section {
  padding: 20px 135px;
}
.Popular-ture {
  display: flex;
  justify-content: space-between;
}
.popular-title {
  color: #131318;

  font-family: Mulish;
  font-size: 40px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
.popular-des,
.popular-des li {
  color: rgba(19, 19, 24, 0.7);
  font-family: Mulish;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
  margin-bottom: 15px;
}
/*  Popular section style Start */
/* all country style srt */
.all-country {
  padding: 50px 135px;
}
.all-c-mal {
  display: grid;
  justify-content: center;
}
.all-c-contain {
  display: grid;
  text-align: center;
}
.all-c-title {
  color: #131318;
  text-align: center;
  font-family: Mulish;
  font-size: 40px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
.all-c-dess {
  color: rgba(19, 19, 24, 0.7);
  text-align: center;
  font-family: Mulish;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
}
.img-sec-one {
  display: flex;
  gap: 30px;
  margin-bottom: 20px;
}
.img-sec-two {
  display: flex;
  gap: 30px;
  margin-bottom: 20px;
}
.img-sec-three {
  display: flex;
  gap: 30px;
  margin-bottom: 20px;
}
/* all country style End */

/* Why Choose Us Srt */
.why-c-us {
  padding: 100px 163px;
}
.two-card {
  display: flex;
  gap: 30px;
  margin-bottom: 30px;
}
.cards {
  border-radius: 16px;
  border: 1px solid rgba(251, 181, 99, 0.2);
  background: rgba(251, 181, 99, 0.05);
  padding: 32px;
}
#cardess {
  display: flex;
  justify-content: center;
  width: 573px;
  height: 284px;
  flex-shrink: 0;
  margin: 2px auto;
}
.ccc-tt {
  color: #131318;

  font-family: Mulish;
  font-size: 24px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
.cards-two {
  border-radius: 16px;
  border: 1px solid rgba(41, 206, 246, 0.2);
  background: rgba(41, 206, 246, 0.05);
  padding: 32px;
}
/* Why Choose Us End*/
/* news latter ssrt */
.news-latter {
  padding: 100px 132px;
}
.news-contain {
  display: flex;
  justify-content: space-between;
}
.riting-area {
  background: #fff;
  border-radius: 16px;
  border: 1px solid #ff5400;
  width: 450px;
  height: 422px;
  flex-shrink: 0;
  padding: 40px;
}
.n-title {
  color: #131318;
  font-family: Mulish;
  font-size: 24px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
.n-dess {
  color: #5a5a5d;
  font-family: Mulish;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
  padding-bottom: 10px;
}
.box-one,
.box-two {
  border-radius: 8px;
  background: rgba(241, 241, 255, 0.826);
  width: 393px;
  height: 52px;
  flex-shrink: 0;
  margin-bottom: 16px;
  border-color: white;
}
hr {
  margin-bottom: 20px;
}
.box-three {
  border-radius: 8px;
  background: #ff5400;
  width: 393px;
  height: 52px;
  flex-shrink: 0;
  color: #fff;
  text-align: center;
  font-family: Mulish;
  font-size: 20px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  border-color: #ff5400;
}
.n-imggg {
  width: 672px;
  height: 500px;
  flex-shrink: 0;
}
.imgg-text {
  display: grid;
  text-align: center;
  border-radius: 16px;
  background: #ff5400;
  width: 324px;
  height: 120px;
  transform: rotate(-19.628deg);
}
.imgg-one {
  color: #fff;
  text-align: center;
  font-family: Mulish;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
  padding-top: 5px;
}
.imgg-two {
  color: #fff;
  font-family: Mulish;
  font-size: 32px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin: 0;
}

.fill-mall {
  display: flex;
  flex-direction: row-reverse;
  position: relative;
  bottom: 175px;
}
/* news latter End */
/* main area style end */

/* footer area srt */
.footer {
  background: rgba(19, 19, 24, 0.05);
}
.all-footer {
  display: grid;
  padding: 165px auto;
  justify-content: center;
  text-align: center;
}
#footerrrrr {
  text-align: center;
  margin: 0px auto;
  padding-top: 110px;
}
#footer-mal {
  color: #131318;
  font-family: Mulish;
  font-size: 32px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
.footer-pp {
  color: #5a5a5d;
  text-align: center;
  font-family: Mulish;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
}
.imgg-footr {
  margin-bottom: 32px;
}
.footer-last {
  margin-top: 32px;
  margin-bottom: 110px;
}
/* footer area srt */

/*rresponsive mobile  */
@media screen and (max-width: 600px) {
  .header,
  .Header-benner,
  .popular-section,
  .all-country,
  .all-c-mal,
  .why-c-us,
  .news-latter {
    padding: 20px;
  }
  .all-country {
    display: flex;
  }
  .nav-div,
  .nav-lii ul,
  .input-types,
  .Popular-ture,
  .img-sec-one,
  .img-sec-two,
  .img-sec-three,
  .two-card,
  .news-contain {
    flex-direction: column;
  }
  .nav-lii ul {
    text-align: center;
  }
  .nav-div {
    align-items: center;
  }
  .input-types {
    margin-left: 50px;
  }
  .popular-imgg {
    width: 100%;
    padding-top: 20px;
  }
  .all-c-mal {
    grid-template-columns: 1fr;
    padding: 20px;
  }
  .c-imggg,
  .n-imggg {
    width: 100%;
  }
  #cardess,
  .riting-area,
  .box-one,
  .box-two,
  .box-three {
    width: auto;
    height: auto;
  }
  .riting-area {
    margin-bottom: 10px;
  }
  .footer-last {
    margin-top: 10px;
    margin-bottom: 50px;
  }
  #footerrrrr {
    padding-top: 50px;
  }
}
